/* On Variables ------------------------------------------------ */
:root {
    --main-heading: hsl(271, 36%, 24%);
    --main-p: hsl(270, 7%, 64%);
    --linear-d: hsl(264, 100%, 61%);
    --linear-l: hsl(293, 100%, 63%);
    --app-bgd: hsl(270, 20%, 96%);
    --top-mobile: hsl(276, 100%, 81%);
    --chat-left: hsl(276, 55%, 52%);
    --chat-right: hsl(271, 15%, 43%);
    --placeholder: hsl(206, 6%, 79%);
    --submit: hsl(271, 36%, 24%);
    --outline-radio: hsl(289, 100%, 72%);

}
/* Off Variables ------------------------------------------------ */

/* ON All  -------------------------------------------------------*/
 * , *::before , * ::after {
     padding: 0 ;
     margin: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -ms-box-sizing: border-box;
     -o-box-sizing: border-box;
     list-style: none;
     text-decoration: none;
    }
/* OFF All  -----------------------------------------------------*/
body {
    font-family: 'Rubik', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 70px 20px;
    position: relative;
}
.container::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 55%;
    background: linear-gradient(to top , #903cfc , #be3fff );
    top: 0;
    left: -105px;
    border-bottom-right-radius: 80%
    
}
@media (min-width: 768px) {
    .container {
        flex-direction: row-reverse;
    }
    .container::before {
        left: -165px;
        height: 90%;
        width: 40%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%
    }
    .container::after {
        position: fixed;
        z-index:-1;
        content: "";
        right: -160px;
        bottom: 0;
        height: 90%;
        width: 40%;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        background: #f7f4fa;
    }
}
/* *********************************************************  Main Heading  **** */
.container .heading {
    text-align: center;
}
.container .heading h1{
    color: hsl(271, 36%, 24%);
    font-size: 40px;
    font-weight: 500;
}
.container .heading p {
    line-height: 1.6;
    color: hsl(270, 7%, 64%);
    padding: 0 10px;
}
@media (min-width: 768px) {
    .container .heading {
        text-align:start;
        flex-basis: 450px;
    }
    .container > .heading {
        position: relative;
    }
    .container .heading p {
        padding: 0;
    }
}
/****************************************************************   Mobile   ****/
.mobile {
    width: 255px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    background-color: white;
    padding: 10px;  
    margin-bottom: 30px;
}
@media (min-width: 768px) {
    .mobile {
        margin-right: 100px;
        box-shadow : 10px 20px 80px -50px;
    }
}
.mobile .card { 
    overflow: hidden;
    background-color:white;
    border-radius: 25px;
}
.mobile .card .screen {
    border-radius: 25px;
}

/* --------------------------------------------------------   Head   ----------  */
.mobile .head {
    width: 100%;
    background: linear-gradient(to right , var(--linear-d) , var(--linear-l));   
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 20px 15px;
    position: relative;
    overflow: hidden;
}

.mobile .head::before {
    position: absolute;
    content: "" ;
    width: 60%;
    height: 50%;
    top: -20px; 
    left: 50%;
    transform: translatex(-50%);
    background-color: white;
    border-radius: 15px;

}
.mobile .head i:nth-child(1) {
    color: white;
    font-size: 10px;
    transform: scaley(1.5)
}
.mobile .head i:nth-child(2) {
    color: white;
    font-size: 10px;
}
.mobile .head .left {
    display: flex;
    flex-basis: 70%;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.mobile .head .left img {
    height: 25px;
    border-radius: 50%;
    border: solid 1.5px white;
}
.mobile .head .left .caption {
    color: white;
    line-height: .7;
}
.mobile .head .left .caption small:first-child {
    font-weight: 500;
    font-size: 10px
}
.mobile .head .left .caption small:last-child {
    font-weight: 500;
    font-size: 7px;
    color: hsl(276, 100%, 81%);
}

/* ---------------------------------------------------------------  Body   ----------- */
.mobile .body {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    background-color: hsl(270, 20%, 96%);

}
.mobile .body > * {
    flex-basis: 100%;
}


.mobile .body .box-left {
    align-self:flex-start;
    display: flex;
    flex-direction: column;
    padding-right: 80px;    
}
.mobile .body .box-left p {
    color: var(--chat-left);
    background-color: #eee6f4;
    font-weight: 500;
    line-height: 1.5;
    font-size: 8px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:5px ;
    margin-bottom: 7px;
}


.mobile .box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.mobile .box-right > .pics {
    padding: 0;
    margin-bottom: -5px;
}
.mobile .box-right > * {
    width: fit-content;
    padding: 7px 10px;
}
.mobile .box-right > p {
    line-height: 1.6;
    font-weight: 500;
    font-size: 7px;
    color: hsl(271, 15%, 43%);
    background-color: white;
    box-shadow: 0 5px 20px -13px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius:10px ;
}
.mobile .box-right > p:first-child {
    padding-right: 50px
}
.mobile .box-right img {
    width: 40px;
    border-radius: 10px;
}


.mobile .box-left2 {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    gap: 10px;
}
.mobile .box-left2 p:first-child {
    color: var(--chat-left);
    background-color: #eee6f4;
    font-weight: 500;
    line-height: 1.5;
    font-size: 8px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:5px ;
    width: fit-content;
}

.mobile .box-left2 .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to left, var(--linear-d) , var(--linear-l));
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:5px ;
    width: 75%;
}
.mobile .box-left2 .left .vl {
    display: flex;
    align-items: center;
    gap: 10px
}
.mobile .box-left2 .left .vl span {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px var(--outline-radio);
}
.mobile .box-left2 .left .vl p {
    color: var(--outline-radio);
}
.mobile .box-left2 .left:not(span) {
    color: white;
}

/*-------------------------------------------------------   footer   ----------------- */
.mobile .foot .form { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile .foot .form form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.mobile .foot .form form i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--submit);
    font-size: 25px;
}
.mobile .foot .form form input::placeholder  {
    font-size: 10px;
    color: hsl(276, 100%, 81%);
    
}
.mobile .foot .form form input {
    border: none;
    outline : none;
    padding: 10px 10px 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;

}